{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "blog/css/blog.css" %}" rel="stylesheet">
</head>

<body class="container">
<ul class="list-group">
    <li class="list-group-item">
        User: {{ user }}
    </li>
    <li class="list-group-item">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'blog:blog_list' %}">Blogs</a>
    </li>
</ul>

<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>